@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.v-application {
  background: none !important;
}

a,
.green {
  text-decoration: none;
  color: #ffff;
  transition: 0.4s;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
